.parallax {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 100px;
    }

    .mountains {
        background-image: url("/mountains.png");
        background-size: cover;
        background-position: bottom;
    }
}